@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

* {
    box-sizing: border-box
} 

body {
    background-color: rgb(241, 241, 241);
}

#form-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}

.fields{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0%;
    background-color: rgb(224, 224, 224);
    filter: drop-shadow(0 0 0.15rem rgb(0, 0, 0));
}

.navigation-content {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}

/* Delete anime */
.btn-group > .anime-item {

}