@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');


body {
    background-color: rgb(241, 241, 241);
}

#form-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}

.fields{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(211, 212, 223);
    box-shadow: 0 0 10px black;
}

 .message-info {
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

.navigation-content {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}

/* Delete anime */
.btn-group > .anime-item {

}