
/* VIDEOS */
#div-video {
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    padding-right:15px; 
    border-right: 2px solid rgb(197, 197, 197);
}
.video-informations {
    background-color: #36BA76;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}
#my-video{
    margin-bottom: 0;
    border: 0;
    border-radius: 15px;
    object-fit: contain;
    max-height: calc(100vw * 0.5625);
}

#my-video:focus, button:focus {
    border: 0;
    outline: 0!important;
    box-shadow: 0 0 0 0 transparent!important;
}

.video-informations > label {
    color:white;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    font-family: 'Barlow', sans-serif;
}

.video-controls {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}


#div-video > video {
    margin-left: auto;
    margin-right: auto;
    width: 100%;	
}

.navigation-content {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}

/* animation video */

.vjs-fade-out {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

/* Responsive VIDEO PLAYER */

@media only screen and (max-width: 1100px) {
    .video-informations > a {
        margin: 0 50px 0 50px;
    }
}

@media only screen and (max-width: 767px) {
    .video-informations > button {
        margin: 0 5px 0 5px;
    }
    .h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
    }

    /* Picture of anime selected */
    [data-content-seasons] {
        margin-top: 20px;
    }
    [data-content-picture]{
        margin-bottom: 30px;
        
    }
    
    [data-content-picture]::after, #div-video {
        margin-left: 0;
        padding: 0;
        border: none;
    }
}

@media only screen and (max-width: 415px) {
    .video-informations {
        padding : 1px;
    }
    .h1 {
        font-size: 30px;
    }
}