@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

* {
    color :rgb(235, 235, 235);
}

h1 {
    color : black;
}

button.block {
    display: block;
    width: 100%;
    color:rgb(0, 0, 0);
    /*background-color: #ffffffe8;*/
}

div.tree-view.h1 {
    color: black;
}
.container{
    max-width: 1024px;
}

.dropdown{
    margin-top: 20px;
}

div.tree-view{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 3% 30px 3%;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 2px rgb(80, 113, 223);
}

div.directories{
    margin-bottom: 20px;
}


body {
    background:#121212;
    background: linear-gradient(90deg, rgb(19, 19, 19) 0%, rrgb(13, 3, 6)35%, rgb(15, 15, 15) 93%);
}

main {
    text-align: center;
}

.btn-block {
    width: 100%;
}



/* VIDEOS */


#video {
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    background: linear-gradient(#121212,#111111, #121212);

}
#title {
    background-color: rgb(32, 32, 32);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 0.75rem rgb(19, 2, 5));
}
#video > div {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;	
    height: 576px;	
}

.navigation-content {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}


/* animation vidoe */

.vjs-fade-out {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

/* Responsive VIDEO PLAYER */

@media only screen and (max-width: 1100px) {
    .container{
        max-width:640px;
    }
    #title{
        width: 640px;
    }
    #video > div {
        width: 640px;
        height:360px;
    }
}

@media only screen and (max-width: 740px) {
    .container{
        max-width:426px;
    }
    #title{
        width: 426px;
    }
    #video > div {
        width: 426px;	
        height:240px;	
    }
}

@media only screen and (max-width: 415px) {
    .container{
        max-width:256px;
    }
    #title{
        width: 256px;
    }
    #video > div {
        width: 256px;
        height:144px;
    }
}