@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

label {
    color :rgb(235, 235, 235);
}

/** NEW DESIGN **/

.h1 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

[data-content-img] {
    border-radius: 5px;
    width:  100%;
    height: 180px;
    object-fit: cover;
}

[data-container] {
    margin-top: 70px;
}



.card {
    background-color: transparent;
    border: none;
    margin-bottom:30px;
    transition: transform .2s; /* Animation */

}

h5, h1{
    color : rgb(255, 255, 255);
}

.card-title{
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
    border-radius: 0;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
  }
  
  .card:hover .overlay {
    opacity: .5;
  }

  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .overlay-text {
    color: white;
    font-size: 25px;
    position: absolute;
    filter: drop-shadow(0 0 1rem rgb(219, 68, 68));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/*
@media (max-width: 768px) {
    [data-content-img] {
        width:  100%;
        height: 310px;
    }
}

@media (max-width: 1100px) {
    [data-content-img] {
        width:  100%;
        height: 150px;
    }
}

*/
/*******************/

button.block {
    display: block;
    width: 100%;
    color:rgb(0, 0, 0);
    /*background-color: #ffffffe8;*/
}



div.tree-view.h1 {
    color: black;
}
.container{
    max-width: 1024px;
}

.dropdown{
    margin-top: 20px;
}

div.tree-view{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 3% 30px 3%;
    border-radius: 5px;
    background-color: rgb(26, 29, 30,1);
    box-shadow: 0 0 0.95rem rgb(60, 52, 100);

}

div.directories{
    margin-bottom: 20px;
}


body {
    background:#121212;
}

main {
    text-align: center;
}

.btn-block {
    width: 100%;
}

/* VIDEOS */
#div-video {
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;

}
.video-informations {
    background-color: rgb(22, 24, 26);
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
video{
    margin-bottom: 0;
}

.video-informations > * {
    margin: 0 20px 0 20px;
}

.video-controls {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;

}
/*
.video-controls > a {
    text-decoration: none;
    font-size: 17px;
    margin : 0 100px 0 100px;
    padding: 10px;
    background-color: #2c2f31;
    border-radius: 6px;
    color :rgb(207, 207, 207);
    font-family: 'Lato', sans-serif;
}

.video-controls > a:hover {
    background-color: #3b3e41;
}*/


#div-video > video {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;	
    height: 576px;	
}

.navigation-content {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}

#previous {
    float: left;
}

#next {
    float: right;
}

/* animation vidoe */

.vjs-fade-out {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

/* Responsive VIDEO PLAYER */

@media only screen and (max-width: 1100px) {
    .video-informations, .video-controls, .container{
        width: 640px;
    }
    #div-video > video {
        width: 640px;
        height:360px;
    }
    .video-informations > a {
        margin: 0 50px 0 50px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 740px) {
    .video-informations, .video-controls, .container{
        width: 426px;
    }
    #div-video > video {
        width: 426px;	
        height:240px;	
    }
    .video-informations > a {
        margin: 0 5px 0 5px;
        font-size: 16px;
    }
    .h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 415px) {
    .video-informations, .video-controls, .container{
        width: 256px;
    }
    #div-video > video {
        width: 256px;
        height:144px;
    }
    .video-informations > a {
        font-size: 12px;
    }
    .video-informations > * {
        margin: 0;
        padding:0;
    }
    .video-informations {
        padding : 1px;
    }
    .h1 {
        font-size: 20px;
    }
}